body{
	min-height: 100vh;
  background: #ededed;
}
.header{
  height:3.1rem;
  background:#999;
}
.header img{
  width:7.5rem;
  height:3.1rem;
}
.middle{
  padding:0.2rem;
}
.middle .nav{
  height:1.3rem;
}
.middle .nav li{
  float:left;
  width:2.2rem;
  height:1.2rem;
  // line-height: 0.6rem;
  font-size: 14px;
  background:#fff;
  margin-right: 0.25rem;
  text-align: center;
  border-radius: 0.105rem;
}
.middle .nav li:last-child{
  margin-right: 0px;
}
.middle .nav li span{
  font-size:17px;
  line-height: 0.65rem;
}
.middle .nav li.active{
  color: #CE0010;
  box-shadow: 0 0 8px 0 rgba(155,155,155,0.50);
  position: relative;
}
.middle .nav li.active b{
  display: inline-block;
  width:0px;
  height:0px;
  border:0.1rem solid transparent;
  border-top: 0.1rem solid #FFF;
  position: absolute;
  bottom:-0.2rem;
  right:0;
  left:0;
  margin:auto;
}
.middle .content{
  clear:both;
  margin-top: 0.2rem;
}
.middle .content>div{
  display:none;
}
.middle .content>div.show{
  display: block;
}
.middle .box{
  background: #fff;
  border-radius: 8px;
  margin-bottom: 0.2rem;
}
.middle .box ul li{
  height:0.8rem;
  line-height: 0.8rem;
}
.middle .box .tops{
  padding:0.2rem;
  padding-left:1rem;
  background: url('../img/ic_location@3x.png') no-repeat;
  background-size: 0.4rem 0.4rem; 
  background-position: 0.3rem center; 
}
.middle .box .bottoms{
  background: #F8F8F8;
  font-size: 14px;
  height:0.8rem;
  line-height: 0.8rem;
  padding:0 0.3rem;
}
.middle .box .bottoms .state{
  color:#CE0010;
}
.middle .box .bottoms .num{
  float: right;
  font-size: 12px;
}

// 退货
.middle .returned .returnContent{
  padding:0.2rem;
}
.middle .returned .returnContent img{
  width: 1.6rem;
  height: 1.6rem;
}
.middle .returned .returnContent .contentright{
  width: 4.6rem;
  display: inline-block;
  margin-left: 0.1rem;
}
.middle .returned .returnContent .contentright p:nth-child(1){
  height: 0.64rem;
  line-height: 16px;
  overflow: hidden;
  font-size: 12px;
  padding-bottom: 0.15rem;
  color: #222;
}
.middle .returned .returnContent .contentright p:nth-child(2) span{
  display: inline-block;
  width: 50px;
  height: 14px;
  line-height: 14px;
  font-size: 11px;
  text-align: center;
  color: #999999;
  letter-spacing: 0;
  background: #f6f6f6;
  border-radius: 2px;
}
.middle .returned .returnContent .contentright p:nth-child(3){
  color:#2A2D36;
  font-size: 14px;
  margin-top: 0.1rem;
}

.foots{
  height:1.2rem;
  position: fixed;
  bottom: 0px;
  width:100%;
  background: #fff;
  font-size: 12px;
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,0.10);
}
.foots>a{
  text-align: center;
  width:50%;
  padding:0.18rem 0;
}
.foots>a img{
  height:0.46rem;
}