#login{
	width: 100%;
  height: 100vh;
  min-height: 500px;
  overflow: hidden;
  position: relative;
}
#login .login-icon{
  width: 4.3rem;
  height: 1.25rem;
  margin: 1.2rem auto;
}
#login .login-icon img{
  width: 100%;
  height: 100%;
}
#login .login-form{
  width: 5.6rem;
  margin: 0px auto;
}
#login .login-form .inputs {
  width: 100%ï¼›
  height: 0.9rem;
  line-height: 0.9rem;
  border-bottom: 1px solid #ededed;
  padding-left: 0.1rem;
  margin-bottom: 0.5rem;
  font-size: 15px;
}
#login .login-form .inputs >span{
  display: inline-block;
  width: 1.2rem;
}
#login .login-form .inputs input{
  outline: none;
  height: 0.7rem;
  width: 4rem;
  font-size: 15px!important;
  /*border: 1px solid red;*/
}
#login .login-form .inputs input:focue,#login .login-form .inputs input:hover{
  border:none !important;
  outline: none !important;
}
#login .login-form .inputs:nth-child(2) input{
  width:2.1rem;
}
#login .login-form .inputs .yzm{
  width: 1.85rem;
  float: right;
  font-size: 14px;
}
#login .login-form .submit{
  border: 1px solid #C5C5C5;
  width: 3.6rem;
  height: 0.85rem;
  line-height: 0.85rem;
  text-align: center;
  margin: 1.05rem auto;
  border-radius: 0.16rem;
  font-size: 16px;
}
#login .footer{
  color: #B6B6B6;
  font-size: 12px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.2rem;
  left: 0px;
}
.mokuang{
  position: fixed;
  width: 2.56rem;
  height: 1.3rem;
  top: 50%;
  left: 50%;
  margin-top: -0.65rem;
  margin-left: -1.28rem;
  background: rgba(0,0,0,0.74);
  color: #fff;
  border-radius: 0.1rem;
  text-align: center;
  font-size: 15px;
  display: none;
}
.mokuang span{
  display: inline-block;
  margin-top: 0.2rem;
}
.count-time{
  display: none;
  color: #999;
}