body{
  min-height: 100vh;
  background: #ededed;
}
.personCenter{
  font-size: 14px;
}
.header{
  width:100%;
  height:3.6rem;
  background: url('../img/personal_bg@3x.png') no-repeat;
  background-size: cover;
  text-align: center;
}
.header>img{
  height:2.4rem;
  margin-top:0.24rem;
}
.header .perName{
  color:#fff;
  font-size: 0.28rem;
}
.header .perName span{
  display: inline-block;
  padding:0 0.3rem;
  background: url('../img/ic_edit@3x.png') no-repeat;
  background-size: 0.28rem 0.28rem;
  background-position: right center;
  margin-top:0.2rem;  
}
.middle{
  /*padding:0.2rem;*/
  width: 7.1rem;
  margin: 0.2rem auto;
  height: 3.33rem;
}
.middle ul{
  background: #fff;
  border-radius: 0.16rem;
  box-shadow: 0 0 0.04rem 0 rgba(196,196,196,0.50);
}
.middle ul li{
  height:1.1rem;
  line-height: 1.1rem;
  background: url('../img/ic_more_gray@3x.png') no-repeat;
  background-size: 0.14rem 0.26rem;
  background-position: 95% 0.38rem; 
  /*border: 1px solid blue;*/
}
.middle .title span {
  display: inline-block;
  height: 1.1rem;
  line-height: 1.1rem;
  width: 3.86rem;
  border-bottom: 1px solid #eee;
  position: relative;
  left: 0px;
  top: 0px;
}
.middle .title span:nth-child(2){
  width: 2.2rem;
  height: 0.95rem;
  float: right;
  border-bottom: 1px solid #eee;
}
.middle .title .line{
  padding-left: 0.3rem;
}
.middle .title .line::after{
  border-bottom: 1px solid #eee;
  content: '';
  position: absolute;
  bottom: -1px;
  right: -0.18rem;
  width: 0.2rem;
  height: 0px;
  transform: rotate(-45deg);
  transform-origin: 0px 0px;
}
.middle .title span:nth-child(2)::before{
  border-bottom: 1px solid #eee;
  content: '';
  position: absolute;
  bottom: -1px;
  left: -0.62rem;
  width: 0.3rem;
  height: 0px;
}
.middle .last-title{
  /*border: 1px solid red;*/
}
.middle .last-title span{
  border-bottom: none;
}
.middle .last-title span:nth-child(2){
  border-bottom: none;
}
.middle .last-title .line::after, .middle .last-title span:nth-child(2)::before{
  display: none;
}

.foots{
  height:1.2rem;
  position: fixed;
  bottom: 0px;
  width:100%;
  background: #fff;
  font-size: 12px;
  z-index: 100;
}
.foots>a{
  text-align: center;
  width:50%;
  padding:0.18rem 0;
}
.foots>a img{
  height:0.46rem;
}

/*修改头像时样式*/
.editPicture{
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  z-index: 200;
  background: rgba(0,0,0,0.60);
}
.editPicture ul{
  height:3.5rem;
  position: absolute;
  bottom: 0;
  width:100%;
  background: #ededed;
  transition: height 20s;
   /*display:none;*/
}
.editPicture li{
  height:1.1rem;
  line-height: 1.1rem;
  text-align: center;
  background: #fff;
  font-size:0.32rem;
}
.editPicture ul li:first-child{
  border-bottom: 1px solid #f1f1f1;
}
.editPicture ul li.cancleEdit{
  margin-top:0.2rem;
  color: #CE0010;
}
.editPicture.hiddens{
  display: none;
}