body{
	height: 100vh;
	background: #ededed;
}
#customer-order{
  font-size: 14px;
}
#customer-order .tab{
	width: 100%;
	height: 0.88rem;
	background: #fff;
	margin-bottom: 0.14rem;
	color: #666;
	font-size: 14px;
}
#customer-order .tab li{
	height: 0.88rem;
	line-height: 0.88rem;
	text-align: center;
	float: left;
	width: 25%;
}
#customer-order .tab li.active>span{
	display: inline-block;
	width: 70%;
	border-bottom: 2px solid #CE0010;
}
#customer-order .tab li.active{
	color: #CE0010;
}
#customer-order .contents{
	/*border: 1px solid red;*/
	margin-bottom: 1.4rem;
}
#customer-order .contents ul li{
	width: 7.1rem;
	margin: 0.2rem auto;
	background: #fff;
	border-radius: 0.16rem;
	overflow: hidden;
}
#customer-order .content{
	height: 1.66rem;
	padding: 0.3rem;
	/*border: 1px solid red;*/
}
#customer-order .content >span{
	display: inline-block;
	width: 10%;
	height: 1.25rem;
	/*border: 1px solid red;*/
	vertical-align: middle;
	background: url(../img/ic_location@2x.png) no-repeat left center;
	background-size: 0.4rem 0.4rem;
}
#customer-order .content >div{
	vertical-align: middle;
	display: inline-block;
	width: 88%;
	/*height: 1.4rem;*/
	/*border: 1px solid red;*/
}
#customer-order .content >div p{
	overflow: hidden;
}
#customer-order .content >div p:nth-child(1){
	padding-bottom: 0.3rem;
}
#customer-order .content >div p:nth-child(1) .tel{
	/*border: 1px solid red;*/
	float: right;
	color: #333;
}
#customer-order .content-bottom{
  /*border: 1px solid red;*/
  height: 0.8rem;
  line-height: 0.8rem;
  background: #F8F8F8;
  font-size: 12px;
  color: #666;
  padding: 0px 0.3rem;
}
#customer-order .content-bottom .status{
  color: #ce0010;
  font-size: 14px;
}
#customer-order .returnContent >div.imgs{
	width: 1.6rem;
	height: 1.6rem;
	display: inline-block;
}
#customer-order .returnContent >div img{
	width: 100%;
	height: 100%;
}
#customer-order .returnContent .contentright{
	width: 4.6rem;
	display: inline-block;
	margin-left: 0.1rem;
}
#customer-order .returnContent .contentright p:nth-child(1){
	height: 0.64rem;
	line-height: 16px;
	overflow: hidden;
	font-size: 12px;
	padding-bottom: 0.15rem;
	color: #222;
}
#customer-order .returnContent .contentright p:nth-child(2) span{
	display: inline-block;
	width: 50px;
	height: 14px;
	line-height: 14px;
	font-size: 11px;
	text-align: center;
	color: #999999;
	letter-spacing: 0;
	background: #f6f6f6;
	border-radius: 2px;
}
#customer-order .returnContent .contentright p:nth-child(3){
	color:#2A2D36;
	font-size: 14px;
	margin-top: 0.1rem;
}


.foots{
  height:1.2rem;
  position: fixed;
  bottom: 0px;
  width:100%;
  background: #fff;
  font-size: 12px;
  z-index: 100;
}
.foots>a{
  text-align: center;
  width:33.3%;
  float: left;
  padding:0.18rem 0;
}
.foots>a img{
  height:0.46rem;
}