body{
  min-height: 100vh;
  background: #ededed;
  /*background: #717171;*/
}
.deliverGoods{
  font-size: 14px;
}
.adds{
  width:100%;
  height:2.64rem;
  background: url('../img/home_bg@2x.png') no-repeat;
  background-size: cover; 
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
}
.adds a{
  display: inline-block;
  width:180px;
  height:0.86rem;
  line-height: 0.86rem;
  text-align: center;
  vertical-align: middle;
  border:1px solid #444;
  border-radius: 4px;
  margin-top:0.89rem;
  color:#000;
  font-weight: bold;
}
.records{
  padding:0px 0.4rem;
}
.records>p{
  height: 1rem;
  line-height: 1rem;
  font-size: 16px;
}
.records .recordContent{
  background: #fff;
  border-radius: 8px;
}
.records .recordContent ul li{
  height:0.8rem;
  line-height: 0.8rem;
}
.records .recordContent .tops{
  padding:0.2rem;
  padding-left:1rem;
  background: url('../img/ic_location@3x.png') no-repeat;
  background-size: 0.4rem 0.4rem; 
  background-position: 0.3rem center; 
}
.records .recordContent .bottoms{
  background: #F8F8F8;
  font-size: 12px;
  height:0.8rem;
  line-height: 0.8rem;
  padding-left:0.3rem;
}
.foots{
  height:1.2rem;
  position: fixed;
  bottom: 0px;
  width:100%;
  background: #fff;
  font-size: 12px;
}
.foots>a{
  text-align: center;
  width:50%;
  padding:0.18rem 0;
}
.foots>a img{
  height:0.46rem;
}